---
// Definimos los tipos de las props para que Astro sepa qué recibir
const { title, lines, Icon } = Astro.props;
---
<div class="flex items-start gap-1 pl-4">
    <div class="hidden md:block w-[1px] h-9 bg-gray-300 self-center "></div>
    <div class=" text-[#EC5463]">
        <Icon class="w-3 h-3" />
    </div>
    
    <div class="flex flex-col">
        <h3 class="text-[11px] font-black uppercase text-zinc-950 leading-none mb-1">
            {title}
        </h3>
        {lines.map((line) => (
            <p class="text-[10px] text-gray-400 font-bold leading-tight whitespace-nowrap">
                {line}
            </p>
        ))}
    </div>
</div>