---
import Nav from "./Nav.astro";
import CardNoticias from "../../components/CardNoticias.astro";
import AnimationTextHeader from "../../components/AnimationTextHeader.astro";
import Imgheader from "../../components/Imgheader.astro";
// Imagenes
import Index from "../../assets/page/bg.jpg";
import QuienesSomos from "../../assets/page/QuienesSomos.png";
import PoliticaGestionIntegrado from "../../assets/page/PoliticadeGestionIntegrado.png";
import Organigrama from "../../assets/page/Organigrama.png";
const path = Astro.url.pathname;
let bg = "";
let title = "";
let breadcrumbTitle = "";

switch (path) {
    case "/":
        bg = Index.src;
        break;
    case "/QuienesSomos":
        bg = QuienesSomos.src;
        title = "¿QUIÉNES SOMOS?";
        breadcrumbTitle = "Quienes somos";
        break;
    case "/Organigrama":
        bg = Organigrama.src;
        title = "ORGANIGRAMA";
        breadcrumbTitle = "Organigrama";
        break;
    case "/PoliticaGestionIntegrado":
        bg = PoliticaGestionIntegrado.src;
        title = "POLÍTICA DE GESTIÓN INTEGRADO";
        breadcrumbTitle = "Política de Gestión Integrado";
        break;
    case "/contacto":
    case "/Contacto":
        bg = Index.src;
        title = "CONTACTO";
        breadcrumbTitle = "Contacto";
        break;
    default:
        bg = Index.src;
        title = path.replace(/\//g, "").toUpperCase();
        const rawPath = path.replace(/\//g, "");
        breadcrumbTitle = rawPath
            ? rawPath.charAt(0).toUpperCase() + rawPath.slice(1).toLowerCase()
            : " ";
        break;
}

const isHome = path === "/";
---

<div
    class={`relative w-full overflow-hidden ${isHome ? "min-h-[74vh]" : "min-h-[60vh]"} bg-cover bg-center bg-no-repeat flex flex-col`}
    style={`background-image: url(${bg});`}
>
    <Nav />
    {
        isHome ? (
            <section class="max-w-7xl mx-auto px-4 sm:px-8 lg:px-12 pb-4 pt-10 lg:pt-16 flex flex-row items-start justify-between gap-4 lg:gap-0 w-full flex-grow">
                <AnimationTextHeader />
                <CardNoticias />
            </section>
        ) : (
            <Imgheader title={title} breadcrumbTitle={breadcrumbTitle} />
        )
    }
</div>
